.main {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
    background: url(../../assets/home_view.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cardsContainer {
    bottom: 100px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
}

.cardsContainer > .mat-card {
    background: rgba(6, 102, 146, 0.85);
    cursor: pointer;
}

.material-icons {
    color: rgba(255,255,255, 0.80);
    padding-right: 10px;
}

.display_text {
    width: 100%;
    margin: auto 0;
}