<div class="main">
    
</div>
<img src="../../assets/travel_text.svg" class="display_text">
<div class="cardsContainer">
    <mat-card [routerLink]="['/places']">
        <span class="material-icons">
            card_travel
            </span>
        Best Destinations
    </mat-card>
    <mat-card [routerLink]="['/bookings']">
        <span class="material-icons">
            commute
            </span>
        Bus booking
    </mat-card>
    <mat-card [routerLink]="['/login']">
        <span class="material-icons">
            person
            </span>
        Login       
    </mat-card>
</div>
