.busLookup {
    margin: 40px;
}
.busLookup > * {
    margin-left: 70px;
}

.searchTable {
    margin: 40px;
}

.bookC {
    margin: 40px;
}

.bookC > * {
    margin-left: 500px;
}

.book {
    margin-left: 1100px;
    
}


