.busLookup {
    margin: 40px;
}
.busLookup > * {
    margin-left: 70px;
}

.searchTable {
    margin: 40px;
}

.bookC {
    margin: 40px;
    width: 300px;
    padding: 50px;
}

.cardDetails {
    display: flex;
    flex-direction: column;
}
