<div class="forms-container">
    <form [formGroup]="loginForm">
        <mat-card class="login_form">
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput type="email" [formControl]="formEmail">
                <mat-error *ngIf="formEmail.invalid">Invalid Email ID</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="formPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
            <div>
                Don't have an account?
                <button mat-button [routerLink]="['/register']" color="primary">Register Now !</button>
            </div>
        </mat-card>
    </form>
</div>