<mat-card class="searchBar">
    <mat-form-field>
        <input matInput placeholder="Search..." [(ngModel)]="searchTerm"/>
    </mat-form-field>
    <button mat-button mat-raised-button color="primary" (click)="searchKeyword()">Search</button>

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let i of categories" [value]="i.value">
            {{i.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button mat-raised-button color="primary" (click)="getCategory()">Fetch</button>
      <button mat-button mat-raised-button color="primary">Top 10</button>
</mat-card>

<mat-card *ngFor="let i of places" class="display-cards">
  <mat-card-header>
    <mat-card-title>{{i.name}}</mat-card-title>
    <mat-card-subtitle> {{i.lon + ", " + i.lat}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{i.images}} >
  <mat-card-content>
    <p>
      {{i.decription}}    
    </p>
  </mat-card-content>
  
</mat-card>