.searchBar {
    margin: 40px;
    display: flex;
    flex-direction: row;
}
.searchBar > * {
    margin-left: 50px;
    flex-grow: 1;
}

.display-cards {
    max-width: 300px;
    display: inline-block;
    margin: 50px;
    margin-left: 100px;
}
