.searchBar {
    margin: 40px;
    display: flex;
    flex-direction: row;
}
.searchBar > * {
    margin-left: 50px;
    flex-grow: 1;
}

.display-cards {
    width: 400px;
    display: inline-block;
    margin: 50px;
    margin-left: 100px;
}

.mat-card-header {
    display: flex;
    justify-content: space-between;
    height: 50px
}

.mat-raised-button {
    height: fit-content;
}

.mat-form-field {
    margin-right: 20px;
}